.navbar-simple {
  width: 100%;            
  background-color: #ffffff;
  color: #000000;
  height: 60px;            
  display: flex;
  align-items: center;    
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  // position: sticky;       
  // top: 0;
  // z-index: 1000;

  .nav-container {
    width: 100%;         
    display: flex;
    justify-content: center; 
    padding: 0 15px; 
  }

  .nav-title {
    margin: 0;
    font-size: 2.5rem;    
    font-weight: bolder;
    letter-spacing: 1px;

    white-space: nowrap; 
  }
}

/* --- Responsive สำหรับมือถือ --- */
@media (max-width: 600px) {
  .navbar-simple {
    height: 50px;          // ลดความสูงลงเล็กน้อยบนมือถือ

    .nav-title {
      font-size: 1.2rem;   // ลดขนาดตัวอักษรลงเพื่อให้พอดีกับจอมือถือ
    }
  }
}