
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ✅ Niramit 400 */
@font-face {
  font-family: "Niramit";
  src: url("/assets/fonts/Niramit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ✅ Niramit 500 */
@font-face {
  font-family: "Niramit";
  src: url("/assets/fonts/Niramit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ✅ Niramit 600 */
@font-face {
  font-family: "Niramit";
  src: url("/assets/fonts/Niramit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* ✅ Niramit 700 */
@font-face {
  font-family: "Niramit";
  src: url("/assets/fonts/Niramit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DSN YaoWaRat';
  src: url('/assets/fonts/DSN-YaoWaRat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
